@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 169, 244;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: #50dde8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-responsive__main1 {}
@media (min-width: 640px) {
  .sm\:bg-responsive__main1 {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('/cover.jpeg');
  }
}